
<h2>List of Student</h2>
  <ul class="students">
  <% for(var i=0; i<studs.length; i++) {%>
    <li class="studs">
      <span><%= " Name: " +studs[i].Name+"."%></span>
      <span><%=" Usn: " + studs[i].usn%></span>
      <span><%= " Dept: " +studs[i].dept+"."%></span>
      <span><%=" Grade: " + studs[i].grade%></span>
    </li>
  <% } %>
</ul>
