<table>
<th>
<tr>Student</tr>
<tr>USN</tr>
<tr>Company</tr>
</th>
<% for(i = 0; i < student.length; i++) {%>
<tr>
<td><%= student[i].Name %></td>
<td><%= student[i].usn %></td>
<td><%= student[i].company %></td>
</tr>
<% } %>
</table>

